* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: rgb(235, 231, 231);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links a {
  color: rgb(235, 231, 231);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
h2 {
  margin-top: 50px;
  font-size: 30px;
  float: inline-start;
  display: inline-block;
}

.bio {
  margin-bottom: 50px;
}

.grid-container {
  display: grid;
  float: right;
  margin-right: 20px;
  grid-template-columns: 300px 300px;
  grid-template-rows: 300px 300px 300px;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  color: black;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}
img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
.item-1 {
  background: rgb(67, 56, 226);
  grid-column: 1/3;
  padding: 3rem;
}

.item-2 {
  background: rgb(71, 180, 90);
}

.item-3 {
  background: rgb(231, 208, 181);
}

.item-4 {
  background: rgb(106, 32, 124);
}

.item-5 {
  background: rgb(212, 203, 71);
}
