* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header,
footer {
  flex: 0 1 auto;
}

section {
  height: 100%;
  flex: 1 1 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  background-color: #5d4954;
  font-family: "Poppins", sans-serif;
}

.about-me > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.about-me > div > img {
  width: 200px;
  height: 200px;
  border-radius: 99999px;
  margin-left: 30px;
}

.logo {
  color: rgb(235, 231, 231);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links a {
  color: rgb(235, 231, 231);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
}

.bio {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 18px;
}

h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 30px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 30px));
  grid-template-rows: repeat(4, 300px);
  margin: 10px;
  gap: 40px;
}

@media screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(2, calc(50% - 20px));
  }
}

.grid-container img {
  height: 300px;
  width: 100%;
}

.grid-container p {
  font-size: 24px;
  margin-bottom: 0 0 0px;
  line-height: 1.5;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #5d4954;
  font-family: "Poppins", sans-serif;
  padding: 40px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.logo-2 {
  color: rgb(198, 234, 243);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
}

.footer-links a {
  color: rgb(197, 243, 245);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
